## Spark sql example

Importiamo pyspark e creiamo una sessione

In [2]:
%pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Definiamo il dataframe

In [4]:
%pyspark
from datetime import datetime, date
from pyspark.sql import Row
df = spark.createDataFrame([
    Row(age=21, salary=2000., name='Lisa', dept='sales', hire=date(2019, 1, 1)),
    Row(age=32, salary=3000., name='Marco', dept='engineering', hire=date(2010, 2, 1)),
    Row(age=44, salary=5000., name='Andrea', dept='ceo', hire=date(2000, 3, 1))
])

Verifichiamo lo schema del dataframe

In [6]:
%pyspark
df.printSchema()

Selezioniamo la colonna "name"

In [8]:

%pyspark
df.select("name").show()

Cerchiamo tutti i dipendenti che hanno più di 25 anni

In [10]:
%pyspark
df.filter(df['age']>25).show()

Utilizziamo una query SQL per cercare nei dati

In [12]:
%pyspark
df.createOrReplaceTempView("people")

sqlDF = spark.sql("SELECT * FROM people where age > 25")
sqlDF.show()

Calcoliamo quante persone hanno la stessa età e quale è

In [14]:
%pyspark
df.groupBy("age").count().show()

In [15]:
%pyspark
sqlDF = spark.sql("SELECT age, COUNT(*) as count FROM people group by age")
sqlDF.show()

%pyspark